################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto.DesenvolvimentoEstudo
/obj
/Projeto.DesenvolvimentoEstudo.Application/obj
/Projeto.DesenvolvimentoEstudo.Domain/obj
/Projeto.DesenvolvimentoEstudo.IoC/obj
/Projeto.DesenvolvimentoEstudo.Language/obj
/Projeto.DesenvolvimentoEstudo.ORM/obj
/Projeto.DesenvolvimentoEstudo.WebAPI/obj
/bin/Debug
/Projeto.DesenvolvimentoEstudo.Application/bin/Debug/net8.0
/Projeto.DesenvolvimentoEstudo.IoC/bin/Debug/net8.0
/Projeto.DesenvolvimentoEstudo.Domain/bin/Debug/net8.0
/Projeto.DesenvolvimentoEstudo.Language/bin/Debug/net8.0
/Projeto.DesenvolvimentoEstudo.ORM/bin/Debug/net8.0
/Projeto.DesenvolvimentoEstudo.WebAPI/bin/Debug/net8.0
/.vs
/Projeto.DesenvolvimentoEstudo.Common/bin/Debug/net8.0
/Projeto.DesenvolvimentoEstudo.Common/obj
